<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Equipment Inspection">

  <link rel="stylesheet" type="text/css" href="assets/css/login.css">

  <title>EquipInspect Login</title>
</head>

<body>
  <h2><%= person %></h2>
  <div id="optionsContainer">
    <div id="browseInspectors" class="">Browse Inspectors</div>
    <div id="newInspector" class="">Create a New Inspector</div>
    <div id="newCustomer">Create a New Customer</div>
    <div id="incompleteInspections">Incomplete Inspections</div>
    <div id="browseInspections">Browse Inspections</div>
    <div id="browseCustomers">Browse Customers</div>
  </div>
  <!--    EJS EXAMPLE
  <h1>blabbity blah</h1>
  <p>this is: <%= person %></p>
  <p>he is <%= tempObj.age %>, and he is a <%= tempObj.job %></p>
  <p>more blah</p>
  <h2>Hobbies</h2>
  <ul>
    <% tempObj.hobbies.forEach(function(item) { %>
      <li><%= item %></li>
    <% }) %>
  </ul>
  -->
  <div id="inspectorInformation">

  </div>
<script>
</script>
</body>
</html>
