<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Equipment Inspection">

  <link rel="stylesheet" type="text/css" href="assets/css/login.css">

  <title>EquipInspect Login</title>
</head>

<body>
  <div id="inspectorInformation">
    <h2> <%= output.company %> </h2>
    <p> <%= output.userName %> </p>
    <div id="optionsContainer">
      <div id="browseInspections" class="">Browse Equipment</div>
      <div id="dueInspections">Equipment Due for Inspection</div>
      <div id="inspectionHistory">Browse Inspection History</div>
      <div id="incompleteInspections">Incomplete Inspections</div>
    </div>
  </div>
  <script>
  </script>
</body>
</html>
